<html>
	<head>
		<title>Payroll App</title>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	</head>
	<body>
		<div class="navbar-fixed">
			<ul id="employee_dropdown" class="dropdown-content">
				<li><a href="/register_employee">Register</a></li>
				<li class="divider"></li>
				<li><a href="/search_employee">Search</a></li>
				<li class="divider"></li>
				<li><a href="/show_all_employees">Show All</a></li>
			</ul>
			<nav>
			  <div class="nav-wrapper">
			    <a href="/" class="brand-logo">
			    	<i class="material-icons">payment</i>
			    	Payroll App
			    </a>
			    <ul class="right hide-on-med-and-down">
			      <li><a href="#">Payment</a></li>
			      <li>
			      	<a class="dropdown-button" href="#!" data-activates="employee_dropdown" data-beloworigin="true" data-constrainwidth="false">
			      		Employee
			      		<i class="material-icons right">arrow_drop_down</i>
			      	</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
		
		<br><br>
		
		<div class="container">
			#parse($template)
		</div>
	</body>
</html>