<div class="row">
    <div class="col s6">
    	<img src="/images/payroll.jpeg" width="700" height="400">
    </div>
    <div class="col s6">
    	<div class="col s6 offset-s6">
	    	<a class="waves-effect waves-red btn light-blue lighten-3" href="/register_employee">Register Employee</a>
    	</div><br><br>
    	<div class="col s6 offset-s6">
	    	<a class="waves-effect waves-red btn light-blue lighten-3" href="/search_employee">Search Employee</a>
    	</div>
    </div>
  </div>