<html>
	<head>
		<title>Registrar Empleado</title>
	</head>
	<body>
			<h3 class="center">Register Employee</h3>
			<form method='post' action='/create_employee'> 
			<table>
				<tr>
					<td><label>CI:</label></td>
					<td><input type='text' name='employeeId'></td>
				</tr>
				<tr>
					<td><label>Name:</label></td>
					<td><input type='text' name='name'></td>
				</tr>
				<tr>
					<td><label>Address:</label></td>
					<td><input type='text' name='address'></td>
				</tr>
				<tr>
					<td>Salary Type:</td>
						
					<td>
						  <input type='radio' name='paymentClassification' value='hourly'> Hourly<br>
						  <input type='radio' name='paymentClassification' value='commissioned'> Commissioned<br>
						  <input type='radio' name='paymentClassification' value='salaried'> Salaried
					</td>
				</tr>
				<tr>
					<td>Amount by type</td>
					<td><input type='text' name='amount'></td>
				</tr>
				<tr>
					<td></td>
					<td><input type='submit' value='Create employee' style='background-color: red'></td>
				</tr>
			</table>
		</form>
	</body>
</html>