<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
El empleado $employee_Name tiene un ci $employee_CI
y vive en $address y tiene un pago de $payment y tiene un sueldo de $hourly_Rate
</body>
</html>