<html>
	<head>
		<title>Search</title>
	</head>
	<body>
		<h3>Search Employee by Id</h3>
		<form method='post' action='/show_employee'>
			<label>Employee Id: </label>
			<input type='text' name='employeeId'><br>
			<input type='submit' value'Search Employee'>
		</form>
	</body>
</html>