<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>BUSCAR EMPLEADO</h1>
	<form action='/search_result'>
		<label>Insert C.I. of the employee: </label>
		<input type='text' name='employee_CI'><br>
		<input type='submit' value='Search employee' style='background-color: red'>
	</form>
</body>
</html>