<h3>Employee</h3>
<p>Ci: $employee.getEmployeeId()</p>
<p>Name: $employee.getName()</p>
<p>Address: $employee.getAddress()</p>
	<form method="get" action="/add_sales_receipt">
		<input type="hidden" name="employee_Id" value=$employee.getEmployeeId()>
		<button class="btn waves-effect waves-light" type="submit" name="add_sales_reciept">
			ADD SALES RECEIPT
		</button>
	</form>

