<h3>Employee</h3>
<p>Ci: $employee.getEmployeeId()</p>
<p>Name: $employee.getName()</p>
<p>Address: $employee.getAddress()</p>
	<button class="btn waves-effect waves-light" type="submit" name="add_time_card">
		ADD TIME CARD
	</button>
