<h3>List of All Employees</h3>
<div class="collection">

#foreach( $employee in $employees)
<div class="collection-item">
<p>Ci: $employee.getEmployeeId()</p>
<p>Name: $employee.getName()</p>
<p>Address: $employee.getAddress()</p>
<br>
</div>
#end

